/* src/styles.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  @font-face {
    font-family: "ITC-bm";
    src: url("./assets/fonts/ITC-bm.otf") format("opentype");
  }
  body {
    font-family: "ITC-bm", sans-serif;
  }
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-marquee {
    display: flex;
    animation: marquee 20s linear infinite;
  }
}
