/* src/styles.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  @font-face {
    font-family: "ITC-bm";
    src: url("./assets/fonts/ITC-bm.otf") format("opentype");
  }
  body {
    font-family: "ITC-bm", sans-serif;
  }
}
